<!DOCTYPE html>
<html lang="en">
  <%- include('../views/head', {page_title:"HalfWayThere"}); %>
<body>
  <main>
    <div class="main-container">
        <div id="about">
            <h1>We'll see you Halfway There.</h1>
            <p>As people's lives get busier and busier, everything becoming more virtual with each passing day, having the time to get lunch with someone can be troublesome thing to plan. We wanted to make it easier to connect people face to face. Our web app is designed to find a midpoint based upon our users locations and bring up potential places to meet using Yelp reviews to let you decide what the best place for you should be!</p>
        </div>

        <div id="team">
        <h4>Who are we?</h4>
        <h3>HalfWayThere was created by Team Cerberus</h2>
        <p>Team Cerberus is comprised of Pablo Rosales, Ray Ruazol, Roger Huba, and Tanner Seramur.</p>
        <div class="team-member" id="Pablo">
            <img src="../public/img/Pablo.jpg">
            <p class="name">Pablo Rosales</p>
            <p class="blurb">Pablo is a Latino developer in the greater Seattle area with an emphasis on client relations and has strong ties to the hispanic community. He studied Object Oriented Programming and Data Structures at Arizona State University in Java and has a keen eye for detail. He is an excellent collaborator and has a focus on customer oriented output. When hes not coding, he enjoys keeping himself fit and exploring the forests with his camera.</p>
        </div>
        <div class="team-member" id="Ray">
            <img src="../public/img/Ray.png">
            <p class="name">Ray Ruazol</p>
            <p class="blurb">Ray is a full stack developer with a specialty in developer operations, databases, and Python. When he isn't working, he enjoys training in Jiu Jitsu, as well as roasting his own coffee beans. He is originally from Boston, but has come to Seattle to start his career as a developer as well be a part of the developer community.</p>
        </div>
        <div class="team-member" id="Roger">
            <img src="../public/img/Roger.jpg">
            <p class="name">Roger Huba</p>
            <p class="blurb">Roger is a veteran of the Army and the Navy with 10 years of service. He is also a full stack developer, and has a masters in project management and specializes in planning, as well as database management. While in the Navy, he was trained to be an instructor to an impressive sized class of 200 under his influence.</p>
        </div>
        <div class="team-member" id="Tanner">
            <img src="../public/img/tanner.jpg">
            <p class="name">Tanner Seramur</p>
            <p class="blurb">Tanner is the lead designer for our user-interface & user-experience divisions. He studied Graphic Design at Montana State University, and learned he excels in the front end. Although he is the head of the UX/UI division, he has also contributed just as much to the overall functionality of the backend.</p>
        </div>
        </div>
    </div>
  </main>
  <%- include('../views/footer'); %>
  <%- include('../views/scripts'); %>
</body>
</html>
