<header>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    
    <div class="nav">
        <div class="main-nav">
            <a class="hamburger-nav"><i class="fas fa-bars fa-2x"></i></a>
            <ul class="menu">
            <a href="/"><li><i class="fa fa-home"></i> HOME</li></a>
              <a href="/history"><li><i class="fa fa-file-image-o"></i> HISTORY</li></a>
              <a href="/about"><li><i class="fa fa-user"></i> ABOUT</li></a>
              <a href="#"><li><i class="fa fa-envelope"></i> COMING SOON </li></a>
            </ul>
          </div>

        <h6>HalfwayThere</h6>

        <div class="dots">
            <i class="fas fa-ellipsis-v fa-2x"></i>
          </div>
          
      </div>
      <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
      <script type="text/javascript"></script>

</header>