<header>
  <nav>
    <div id="topNav" class="navigation">
      <span id="closebtn" onclick="navToggle()">
        <i id="hamMenu" class="fas fa-bars fa-1x"></i>
        <h2>Halfway There</h2>
        <i class="fas fa-ellipsis-v fa-1x"></i>
      </span>
      <ul class="menulist">
        <li><a class="menuitems" href="/">HOME</a></li>
        <li><a class="menuitems" href="#">HISTORY</a></li>
        <li><a class="menuitems" href="#">ABOUT US</a></li>
        <li><a class="menuitems" href="#">COMMING SOON!</a></li>
      </ul>
    </div>  
    <div id="main"></div>
  </nav>
</header>