<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/base.css">
  <title>Halfway There</title>
</head>
<body>
  <header>
    <nav>
      <h2>logo</h2>
    </nav>
  </header>

  <main>
    <div class="main-container">
      <h1><span>Find</span> Halfway<span>.</span></h1>
      <form action="/location" method="POST">
        <div class="home-search-container ">
          <input id="addressOne" name="addressOne" type="text" placeholder="Enter Address 1 or Use Current Location">
          <div class="or-container">
            <div class="line"></div><p>OR</p><div class="line"></div>
          </div>

          <button id="currentLocationBtn" type="button">Use Current Location</button>
        </div>

        <input type="text" id="addressTwo" name="addressTwo" placeholder="Enter Address 2" >

        <div class ="select">
        <select name="venue" id="venue">
          <option value="cafe">cafe</option>
          <option value="bar">bar</option>
          <option value="pizza">pizza</option>
          <option value="breakfast">breakfast</option>
        </select>
      </div>


        <input id="findBtn" type="submit" value="SEARCH">

      </form>
      </div>
  </main>

  <footer></footer>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="app.js"></script>
</body>
</html>
