<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0"/>
  <%- include('../views/head', {page_title:"HalfWayThere"}); %>
  <link rel="stylesheet" href="styles/base.css">
<body>
  
  <main>
      <%- include('../views/header'); %>
    <div class="main-container">
      <h1><span>Find</span> Halfway<span>.</span></h1>
      <form action="/location" method="POST">
        <div class="home-search-container ">
          <input id="addressOne" name="addressOne" type="text" placeholder="Enter Address 1">
          <div class="or-container">
            <div class="line"></div><p class='orText'>OR</p><div class="line"></div>
          </div>
          <button id="currentLocationBtn" type="button">USE CURRENT LOCATION</button>
        </div>
        <input type="text" id="addressTwo" name="addressTwo" placeholder="Enter Address 2" >
        <div class ="select">
        <select name="venue" id="venue">
          <option value="cafe">cafe</option>
          <option value="bar">bar</option>
          <option value="pizza">pizza</option>
          <option value="nightlife">nightlife</option>
          <option value="breakfast">breakfast</option>
          <option value="lunch">lunch</option>
          <option value="dinner">dinner</option>
          <option value="mexican">mexican</option>

        </select>
      </div>
        <input id="findBtn" type="submit" value="SEARCH">
      </form>
      </div>
  </main>
  <%- include('../views/footer'); %>
  <%- include('../views/scripts'); %>
</body>
</html>
