<!DOCTYPE HTML5>
<html>
  <head>
    <title></title>
  </head>
  <body>
      <main>
          <% results.forEach( item => { %>
              <li>
                <section>
                  <h4><%= item.search_query %></h4>
              </section>
              </li>
              <% }) %>
          </ul>
        </main>
  </body>
</html>



