<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Halfway Locations</title>
</head>
<body>
    <header></header>

    <main>
        <div class="deck-container">
            <% locations.forEach((location) => { %>
            <div class="card-container">
                <button>
                    <h2><%= location.name %></h2>
                    <div><p><%= location.rating %></p></div>
                </button>
            </div>
            <%});%>
        </div>
    </main>


    <footer></footer>
    
</body>
</html>