<div id="<%- location.id %>" onload="initMap('<%- coords %>, <%- location %>')"></div>
<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBzokPRTEfBiWiQ7fNPYQyqKU0F42d-5Fw&callback=initMap'></script>

