@import url('https://fonts.googleapis.com/css?family=Nunito:400,900');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
main{
    background-color:#53787D;
    width: 100vw;
    height: 100vh;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(173,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23f1f1f1'/%3E%3Cstop offset='1' stop-color='%2370b991'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(181,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2353787d' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2353787d' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(301,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2353787d' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2353787d' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg %3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; 
    /* background-repeat: no-repeat;
    background-size: auto;
    background-size: 120vw 100vh; */
    /* background-color: #f1f1f1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(173,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23f1f1f1'/%3E%3Cstop offset='1' stop-color='%2370b991'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(181,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2353787d' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2353787d' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(301,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2353787d' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2353787d' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg %3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; */

}

main::after{
    background-image: url("../img/bg_img.jpg");

    opacity: 0.5;
}

.main-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    /* padding: 5px; */
    /* background-color: yellow; */
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    padding-top: 70px;
}

h1{
    font-size: 3.2em;
    margin-bottom: 30px;
    text-align: center;
    color: #fcce77;
    font-family: 'Nunito', sans-serif, bold;
}

#findBtn{
    background-color: #fcce77;
    color: #53787D;
    font-size: 1em;
    -webkit-appearance: none;
    border-radius: 0;
}

span{
    color: #eee7da;
}

.home-search-container{
    /* display:flex; */
    width: 100%;
    /* background-color: blue; */
    /* padding: 1px; */
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input{
    border: none;
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 10px 15px;
    font-size: 16px;
    

}

#currentLocationBtn{
    background-color: #fff;
    border:none;
    width: 100%;
    height: 40px;
    color: #53787D;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #fcce77;

}

.or-container{
    display:flex;
    align-items:center;
}

.line { 
    width: 100%;
    border: 1px solid #fcce77;
}

.or-container p { 
    margin: 0 5px;
    color: #fcce77;
}

/* .click-details-hidden {
    visibility: hidden;
    display: none;
  }
  
  .click-details-visible {
    visibility: visible;
    display: block;
  } */

select {
    background-color: red;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px 15px;
    color: black;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 0;
  }
  option{
    -webkit-appearance: none;
    border-radius: 0;
  }


  /* Custom Select */
  .select {
    position: relative;
    display: block;
    /* width: 20em;
    height: 3em; */
    line-height: 3;
    background: #fff;
    overflow: hidden;
    border-radius: .25em;
  }

  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #ffff;
    pointer-events: none;
  }
  /* Transition */
  .select:hover::after {
    color: #fcce77;
  }
  .select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
