img{
    /* width: 100vw; */
}

section{
    background-color:red;
}
.historyImg{
    width: 100%;
}
.smaller-container{
    display:flex;
    justify-content: center;
    padding: 10px;
}
#info{
    padding: 10px;
}